// ? Fonts ----------------------------------------------
$font-regular: "Kanit Regular";
$font-semibold: "Kanit SemiBold";
$font-bold: "Kanit Bold";

// ? Font Size ------------------------------------------
$xsSize: 1.8rem;
$sSize: 2.4rem;
$mdSize: 3.0rem;
$lSize: 3.6rem;
$xlSize: 4.2rem;

// ? General Color --------------------------------------
$primary: #373941;
$secondary: #17487b;
$danger: #c52f2f;
$warning: #edb934;
$success: #22a328;
$white: #fff;
$gray: rgb(145, 145, 145);
$active: rgb(0, 183, 255);

// ? Shadow Color ---------------------------------------
$shadowBox: rgba(71, 71, 71, 0.25);
$shadowImage: rgba(0,0,0,0.2);