.forecast-item{
    background: linear-gradient(-45deg, #0099ff, #10cfff);
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 0.25px rgba(0, 0, 0, 0.25);
    padding: 2.5rem;
    animation: gradientBG 15s ease infinite;
}

.flaticon-cloud:before, .flaticon-files-and-folders:before{
    font-size: 2.2rem !important;
    @include respond(md){
        font-size: 30px !important;
    }
}